#bodyDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
  background-image: ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
}
#app {
  width:
  height: s;
  top: %;
  position: ;
  display: fle;
}
#upperApp {
  border: 2px solid black;
  position: absolute;
  display: flex;
  width: 40%;
  height: 7%;
  justify-content: space-around;
  align-items: center;
  right: 30%;
  top: 30%;
  visibility: hidden;

/* When the lower app shows, change top to -
  top: 19%;
*/

}
#inputField {
  position: relative;
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;


}
#forward {
  position: absolute;
  display: flex;
  left: 71%;
  bottom: 16%;
}
#zip {
  position: absolute;
  display: flex;
  right: 50%;
  bottom: 14.5%;
}
#lowerApp {
  position: absolute;
  display: flex;
  width: 40%;
  height: 63%;
  right: 30%;
  bottom: 10%;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
}
#location {
  position: absolute;
  border: 2px solid black;
  display: flex;
  width: 30%;
  height: 5%;
  bottom: 85%;
}
#temp {
  position: absolute;
  border: 2px solid black;
  display: flex;
  width: 50%;
  height: 50%;
  bottom: 34.5%;
}
#status {
  position: absolute;
  border: 2px solid black;
  display: flex;
  width: 50%;
  height: 5%;
  bottom: 29%;
}
#info {
  position: relative;
  border: 2px solid black;
  display: flex;
  width: 80%;
  height: 15%;
  top: 35%;
  justify-content: center;
  align-items: center;
}
#row {
  position: absolute;
  border: 2px solid black;
  display: flex;
  width: 80%;
  height: 20%;
  top: 12%;
  justify-content: space-between;
}
#infoRow {
  position: absolute;
  border: 2px solid black;
  display: flex;
  width: 90%;
  height: 60%;
  top: 35%;
  justify-content: ;

}
.info {
  position: absolute;
  border: 2px solid black;
  display: flex;
  width: 20%;
  height: 100%;
  top: ;
  justify-content: center;
  align-items: center;
}
#maxInfo {
  left: 80%;
}
/* style needs

- a media query
- mobile-first considerations


*/
